@*  drop down wyskakuje jako absolute do diva... poszukaj, aby absolute wyskakiwal do polozenia elementu button *@
<div class="dropdown text-right">
    Elementów na stronie:
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        10
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">10</a>
    </div>
</div>
<div class="text-center">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
    </ul>
</div>
