
@{
    ViewBag.Title = "_BodyHeader";
}

<div class="text-right mb-10">
   
    <button type="button">@Html.ActionLink("Szukaj", "IndexTiles")</button>

</div>


<div id="dialog-edit" title="Basic dialog" class="myDialog" style="background-color:white">
</div>
@Scripts.Render("~/bundles/my_scripts")


