
@{
    ViewBag.Title = "_BodyHeader";
}

<div class="text-right mb-10">

    <button type="button">@Html.ActionLink("Dodaj", "Create", null, new { id = "lnkCreate" })</button>



    <button type="button">@Html.ActionLink("Edycja", "Edit", null, new { id = "lnkEdit" })</button>

</div>


<div id="dialog-edit" title="Basic dialog" class="myDialog" style="background-color:white">
</div>
@Scripts.Render("~/bundles/my_scripts")


