@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Zadanie.Models.Dane>

@*  drop down wyskakuje jako absolute do diva... poszukaj, aby absolute wyskakiwal do polozenia elementu button *@
<div class="dropdown text-right">
    Elementów na stronie:
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        10
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">10</a>
    </div>
</div>
<div class="text-center">
    @Html.PagedListPager(Model,page=>Url.Action("Index",
        new { page,sortBy=ViewBag.CurrentSort}),
        new PagedListRenderOptions {LinkToPreviousPageFormat = "Poprzednia",
            LinkToNextPageFormat = "Następna",
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always
        })
</div>
@*  //przyklad uzycia, jakbym potrzebowal ustawiac, ze ma byc max np. 5 stron na widok
    @Html.PagedListPager(Model.video, page => Url.Action("video_play", new { page = page }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< Next", LinkToPreviousPageFormat = "<", LinkToNextPageFormat = ">", LinkToLastPageFormat = "Last >>" }, PagedListRenderOptions.OnlyShowFivePagesAtATime)
*@